<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>use</key>
		<string>使用仆从技能</string>
        <key>12</key>
        <string>步兵</string>
        <key>13</key>
        <string>盾牌兵</string>
		<key>14</key>
		<string>长枪兵</string>
		<key>15</key>
		<string>弓箭兵</string>
		<key>16</key>
		<string>发剑兵</string>
		<key>17</key>
		<string>重戟兵</string>
		<key>18</key>
		<string>神医</string>
		<key>19</key>
		<string>廖化</string>
		<key>20</key>
		<string>骑兵</string>
		<key>21</key>
		<string>马超</string>
		<key>22</key>
		<string>火炬兵</string>
		<key>221</key>
		<string>破天击</string>
		<key>222</key>
		<string>火箭雨</string>
		<key>223</key>
		<string>奇计</string>
		<key>224</key>
		<string>疾风击</string>
		<key>225</key>
		<string>落石</string>
		<key>226</key>
		<string>煌龙断天刃</string>
		<key>update</key>
		<string>升级仆从技能</string>
		<key>23</key>
		<string>城墙护卫</string>
		<key>24</key>
		<string>精英弓箭手</string>
		<key>25</key>
		<string>投石车</string>
		<key>3002</key>
		<string>后勤</string>
		<key>logo</key>
		<string>显示logo</string>
		<key>buy_layer</key>
		<string>显示购买界面</string>
		<key>hero_die</key>
		<string>玩家死亡</string>
		<key>teach</key>
		<string>进入教学模式</string>
		<key>teach_1</key>
		<string>完成教学关卡一</string>
		<key>teach_2</key>
		<string>完成教学关卡二</string>
		<key>teach_3</key>
		<string>完成教学关卡三</string>
		<key>pass_all_level</key>
		<string>通关所有关卡</string>
		<key>pass_level</key>
		<string>通关关卡</string>
		<key>easy_time</key>
		<string>简单无尽时间</string>
		<key>mid_time</key>
		<string>中等无尽时间</string>
		<key>hard_time</key>
		<string>困难无尽时间</string>
		<key>click_buy</key>
		<string>点击购买</string>
		<key>buy_finish</key>
		<string>购买成功</string>
    </dict>
</plist>