<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HUD/CREDITS.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,943},{161,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,35}}</string>
                <key>sourceSize</key>
                <string>{161,37}</string>
            </dict>
            <key>HUD/GuideView_Circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,922},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>HUD/GuideView_TextPrompt_Bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1},{626,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,17}}</string>
                <key>sourceSize</key>
                <string>{626,17}</string>
            </dict>
            <key>HUD/GuideView_TextPrompt_Top.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1},{626,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,17}}</string>
                <key>sourceSize</key>
                <string>{626,17}</string>
            </dict>
            <key>HUD/Icon_BG.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{699,632},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>HUD/Icon_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,920},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/IngotLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,855},{281,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,66}}</string>
                <key>sourceSize</key>
                <string>{281,66}</string>
            </dict>
            <key>HUD/ItemListBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1},{512,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,2}}</string>
                <key>sourceSize</key>
                <string>{512,2}</string>
            </dict>
            <key>HUD/PanleFrameBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{394,503}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{394,503}}</string>
                <key>sourceSize</key>
                <string>{398,567}</string>
            </dict>
            <key>HUD/ScrollItem_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1},{571,108}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{571,108}}</string>
                <key>sourceSize</key>
                <string>{613,146}</string>
            </dict>
            <key>HUD/exit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1},{522,197}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,197}}</string>
                <key>sourceSize</key>
                <string>{522,205}</string>
            </dict>
            <key>HUD/exit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,975},{217,31}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{217,31}}</string>
                <key>sourceSize</key>
                <string>{223,41}</string>
            </dict>
            <key>HUD/highscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,524},{241,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{241,43}}</string>
                <key>sourceSize</key>
                <string>{265,61}</string>
            </dict>
            <key>HUD/icon/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,881},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,881},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,822},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,818},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,783},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,685},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,724},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,673},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,677},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,720},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,573},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,622},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,524},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,922},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/load_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1},{671,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,146}}</string>
                <key>sourceSize</key>
                <string>{671,146}</string>
            </dict>
            <key>HUD/load_bar_sep.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1},{630,53}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,22},{630,53}}</string>
                <key>sourceSize</key>
                <string>{836,75}</string>
            </dict>
            <key>HUD/load_bar_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,903},{245,39}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{245,39}}</string>
                <key>sourceSize</key>
                <string>{257,39}</string>
            </dict>
            <key>HUD/number_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,855},{253,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,47}}</string>
                <key>sourceSize</key>
                <string>{255,49}</string>
            </dict>
            <key>HUD/pause_board_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,505},{375,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,91}}</string>
                <key>sourceSize</key>
                <string>{375,91}</string>
            </dict>
            <key>HUD/pause_board_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,597},{375,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,79}}</string>
                <key>sourceSize</key>
                <string>{375,79}</string>
            </dict>
            <key>HUD/pause_music_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,677},{320,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,116}}</string>
                <key>sourceSize</key>
                <string>{320,116}</string>
            </dict>
            <key>HUD/reset_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,943},{217,31}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{217,31}}</string>
                <key>sourceSize</key>
                <string>{223,41}</string>
            </dict>
            <key>HUD/skill_update_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1},{487,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,62}}</string>
                <key>sourceSize</key>
                <string>{487,62}</string>
            </dict>
            <key>HUD/skill_update_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,794},{487,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,60}}</string>
                <key>sourceSize</key>
                <string>{487,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud-1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:901d3e603a7d9ebe8f1aab8000041822$</string>
            <key>textureFileName</key>
            <string>hud-1.png</string>
        </dict>
    </dict>
</plist>
