<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo/Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{336,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,332}}</string>
                <key>sourceSize</key>
                <string>{336,332}</string>
            </dict>
            <key>logo/logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,533},{272,194}}</string>
                <key>offset</key>
                <string>{-7,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,130},{272,194}}</string>
                <key>sourceSize</key>
                <string>{304,354}</string>
            </dict>
            <key>logo/logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,764},{266,220}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,99},{266,220}}</string>
                <key>sourceSize</key>
                <string>{304,354}</string>
            </dict>
            <key>logo/logo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,505},{274,258}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,71},{274,258}}</string>
                <key>sourceSize</key>
                <string>{304,354}</string>
            </dict>
            <key>logo/logo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,242},{276,262}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,60},{276,262}}</string>
                <key>sourceSize</key>
                <string>{304,354}</string>
            </dict>
            <key>logo/logo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,278},{276,254}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,63},{276,254}}</string>
                <key>sourceSize</key>
                <string>{304,354}</string>
            </dict>
            <key>logo/logo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1},{278,240}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,77},{278,240}}</string>
                <key>sourceSize</key>
                <string>{304,354}</string>
            </dict>
            <key>logo/logo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,334},{274,266}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,56},{274,266}}</string>
                <key>sourceSize</key>
                <string>{304,354}</string>
            </dict>
            <key>logo/logo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,764},{274,252}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,72},{274,252}}</string>
                <key>sourceSize</key>
                <string>{304,354}</string>
            </dict>
            <key>logo/logo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1},{278,276}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{278,276}}</string>
                <key>sourceSize</key>
                <string>{304,354}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Logo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aabfec34e2a6a1f370fd9a56cd1348a$</string>
            <key>textureFileName</key>
            <string>Logo.png</string>
        </dict>
    </dict>
</plist>
