<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Effect</key>
        <dict>
            <key>frames</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>count</key>
                    <integer>1</integer>
                    <key>width</key>
                    <integer>86</integer>
                    <key>height</key>
                    <integer>84</integer>
                    <key>anchor_x</key>
                    <real>43</real>
                    <key>anchor_y</key>
                    <real>42</real>
                </dict>
                <key>2</key>
                <dict>
                    <key>count</key>
                    <integer>6</integer>
                    <key>width</key>
                    <integer>100</integer>
                    <key>height</key>
                    <integer>100</integer>
                    <key>anchor_x</key>
                    <real>50</real>
                    <key>anchor_y</key>
                    <real>26</real>
                </dict>
                <key>3</key>
                <dict>
                    <key>count</key>
                    <integer>9</integer>
                    <key>width</key>
                    <integer>103</integer>
                    <key>height</key>
                    <integer>176</integer>
                    <key>anchor_x</key>
                    <real>51</real>
                    <key>anchor_y</key>
                    <real>45</real>
                </dict>
                <key>4</key>
                <dict>
                    <key>count</key>
                    <integer>6</integer>
                    <key>width</key>
                    <integer>657</integer>
                    <key>height</key>
                    <integer>470</integer>
                    <key>anchor_x</key>
                    <real>282</real>
                    <key>anchor_y</key>
                    <real>169</real>
                </dict>
                <key>5</key>
                <dict>
                    <key>count</key>
                    <integer>6</integer>
                    <key>width</key>
                    <integer>568</integer>
                    <key>height</key>
                    <integer>565</integer>
                    <key>anchor_x</key>
                    <real>304</real>
                    <key>anchor_y</key>
                    <real>89</real>
                </dict>
                <key>6</key>
                <dict>
                    <key>count</key>
                    <integer>4</integer>
                    <key>width</key>
                    <integer>180</integer>
                    <key>height</key>
                    <integer>173</integer>
                    <key>anchor_x</key>
                    <real>90</real>
                    <key>anchor_y</key>
                    <real>86</real>
                </dict>
                <key>7</key>
                <dict>
                    <key>count</key>
                    <integer>9</integer>
                    <key>width</key>
                    <integer>93</integer>
                    <key>height</key>
                    <integer>82</integer>
                    <key>anchor_x</key>
                    <real>46</real>
                    <key>anchor_y</key>
                    <real>41</real>
                </dict>
				<key>8</key>
                <dict>
                    <key>count</key>
                    <integer>1</integer>
                    <key>width</key>
                    <integer>50</integer>
                    <key>height</key>
                    <integer>50</integer>
                    <key>anchor_x</key>
                    <real>25</real>
                    <key>anchor_y</key>
                    <real>25</real>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>