<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>1</key>
        <string>上古神魔大战，天魔最终解体逃入虚空。现天魔即将复活，妄图降临三国，统治天下。</string>     
        <key>2</key>
        <string>东汉末年，为了曹操的一统霸业，戏志才不惜以自身性命施展禁忌之术，召唤上古军队增强曹军实力，不料天魔趁机降临，藏于曹操头中。</string>	
        <key>3</key>
        <string>与此同时，发现天魔降临的神将同时来到人间辅助刘备，诛杀天魔。</string>     
        <key>4</key>
        <string>时至建安七年，刘表派遣刘备领军出击，发兵至博望一地，与曹操军的夏侯惇遭遇，开始了刘备和神将配合的第一战。</string>	
    </dict>
</plist>