<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani/result/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,194},{100,98}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{100,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{88,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,19},{88,86}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,436},{74,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,24},{74,76}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{64,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{64,64}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,182},{102,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{102,56}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,204},{102,54}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{102,54}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{100,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{100,54}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,174},{94,58}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,33},{94,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,240},{92,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{92,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,376},{86,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{86,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,96},{112,96}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{112,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,380},{84,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{84,54}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{84,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,39},{84,46}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,88},{84,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,42},{84,38}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,436},{84,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,45},{84,32}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,294},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{84,24}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,194},{336,92}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>ani/result/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,116},{112,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{112,86}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,96},{102,84}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{102,84}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,294},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,20},{90,80}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,436},{76,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,26},{76,70}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{92,88}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{120,112}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{120,112}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>ani/result/1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{112,110}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{112,110}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df3d97d70344d54e3404027a70022837$</string>
            <key>textureFileName</key>
            <string>ani_1.png</string>
        </dict>
    </dict>
</plist>
