<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HUD/Head/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,287},{112,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,125}}</string>
                <key>sourceSize</key>
                <string>{112,127}</string>
            </dict>
            <key>HUD/Head/1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,824},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,894},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,899},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,899},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,899},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,801},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,796},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,787},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,703},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,689},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,703},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,824},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/221.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,726},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/222.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,698},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/223.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,605},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/224.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,591},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/225.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,591},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/226.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,838},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,605},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,726},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,838},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,605},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/Head/700001.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,181},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>HUD/Head/700002.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,378},{127,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{127,123}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>HUD/Head/700003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,400},{121,121}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{121,121}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>HUD/Head/700004.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,407},{111,109}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{111,109}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>HUD/Head/700005.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,287},{123,119}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,119}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>HUD/Head/700006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,388},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{115,115}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>HUD/Head/DoesNotUnlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,287},{116,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,100}}</string>
                <key>sourceSize</key>
                <string>{116,104}</string>
            </dict>
            <key>HUD/Head/fog.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,256},{324,236}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{324,236}}</string>
                <key>sourceSize</key>
                <string>{400,284}</string>
            </dict>
            <key>HUD/Head/mask.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{814,309},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>HUD/Head/whenClicked_CoverSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,726},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/TollgateEnd/dead_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{450,285}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{450,285}}</string>
                <key>sourceSize</key>
                <string>{508,303}</string>
            </dict>
            <key>HUD/TollgateEnd/text_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,74},{196,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{196,42}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>HUD/TollgateEnd/text_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,342},{207,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,35}}</string>
                <key>sourceSize</key>
                <string>{207,35}</string>
            </dict>
            <key>HUD/TollgateEnd/text_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,256},{202,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,36}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>HUD/TollgateEnd/victory_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,271},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{70,52}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>HUD/TollgateEnd/victory_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,74},{106,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,146}}</string>
                <key>sourceSize</key>
                <string>{110,146}</string>
            </dict>
            <key>HUD/TollgateEnd/victory_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1},{190,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{190,72}}</string>
                <key>sourceSize</key>
                <string>{212,88}</string>
            </dict>
            <key>HUD/TollgateEnd/victory_title_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1},{378,254}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,254}}</string>
                <key>sourceSize</key>
                <string>{380,254}</string>
            </dict>
            <key>HUD/icon/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,838},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,615},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,726},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,838},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,522},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,620},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,726},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/29.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,517},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,614},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/30.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,504},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/31.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,493},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,600},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,502},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,502},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,493},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,493},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>HUD/icon/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,493},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud-2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d1cd47e40b41565bf35af783d6a93e9$</string>
            <key>textureFileName</key>
            <string>hud-2.png</string>
        </dict>
    </dict>
</plist>
