<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100001/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{210,148}}</string>
                <key>offset</key>
                <string>{40,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,76},{210,148}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,346},{210,148}}</string>
                <key>offset</key>
                <string>{40,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,76},{210,148}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,298},{210,148}}</string>
                <key>offset</key>
                <string>{40,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,76},{210,148}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{210,148}}</string>
                <key>offset</key>
                <string>{40,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,76},{210,148}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,496},{208,150}}</string>
                <key>offset</key>
                <string>{30,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,86},{208,150}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,722},{206,144}}</string>
                <key>offset</key>
                <string>{31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,80},{206,144}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,722},{202,146}}</string>
                <key>offset</key>
                <string>{31,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,86},{202,146}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{206,152}}</string>
                <key>offset</key>
                <string>{31,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,80},{206,152}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,196},{210,148}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,69},{210,148}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,448},{206,144}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,80},{206,144}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,448},{210,144}}</string>
                <key>offset</key>
                <string>{34,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,80},{210,144}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{242,140}}</string>
                <key>offset</key>
                <string>{70,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,81},{242,140}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,300},{210,146}}</string>
                <key>offset</key>
                <string>{55,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,56},{210,146}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,344},{188,158}}</string>
                <key>offset</key>
                <string>{-44,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,50},{188,158}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,722},{188,156}}</string>
                <key>offset</key>
                <string>{84,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,59},{188,156}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{230,194}}</string>
                <key>offset</key>
                <string>{-55,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,58},{230,194}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,150},{210,148}}</string>
                <key>offset</key>
                <string>{47,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,107},{210,148}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,594},{158,184}}</string>
                <key>offset</key>
                <string>{33,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,73},{158,184}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{112,226}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,33},{112,226}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,148},{210,148}}</string>
                <key>offset</key>
                <string>{51,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,83},{210,148}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,534},{166,186}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,31},{166,186}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{166,100}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,133},{166,100}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,168},{174,78}}</string>
                <key>offset</key>
                <string>{-23,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,167},{174,78}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/6/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,0},{210,148}}</string>
                <key>offset</key>
                <string>{41,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,90},{210,148}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/6/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,722},{196,188}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,52},{196,188}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
            <key>ListSprite/100001/6/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{218,146}}</string>
                <key>offset</key>
                <string>{38,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,93},{218,146}}</string>
                <key>sourceSize</key>
                <string>{450,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>101.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d8733abac945b23e8b794f24f6ae4ab$</string>
            <key>textureFileName</key>
            <string>101.png</string>
        </dict>
    </dict>
</plist>
