<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100002/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,162},{206,160}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,143},{206,160}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{208,160}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,143},{208,160}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{208,160}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,143},{208,160}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,162},{146,158}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,147},{146,158}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,330},{158,166}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,140},{158,166}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{220,166}}</string>
                <key>offset</key>
                <string>{21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,147},{220,166}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,324},{142,164}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,143},{142,164}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,162},{206,160}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,143},{206,160}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,324},{190,160}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,147},{190,160}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,160}}</string>
                <key>offset</key>
                <string>{62,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,146},{252,160}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,158},{206,160}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,143},{206,160}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,324},{132,158}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,145},{132,158}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{230,156}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,145},{230,156}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,0},{206,160}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,143},{206,160}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,0},{112,156}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,145},{112,156}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/100002/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,324},{112,152}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,149},{112,152}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>102.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d977a5bffad1bd49fc3f4771e090816$</string>
            <key>textureFileName</key>
            <string>102.png</string>
        </dict>
    </dict>
</plist>
