<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100007/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{78,160}}</string>
                <key>offset</key>
                <string>{-46,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,183},{78,160}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{78,160}}</string>
                <key>offset</key>
                <string>{-47,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,183},{78,160}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{78,160}}</string>
                <key>offset</key>
                <string>{-46,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,183},{78,160}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{76,160}}</string>
                <key>offset</key>
                <string>{-47,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,183},{76,160}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{120,150}}</string>
                <key>offset</key>
                <string>{-52,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,200},{120,150}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,292},{92,150}}</string>
                <key>offset</key>
                <string>{-44,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,193},{92,150}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,594},{100,136}}</string>
                <key>offset</key>
                <string>{-42,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,198},{100,136}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{116,144}}</string>
                <key>offset</key>
                <string>{-47,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,202},{116,144}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,706},{96,148}}</string>
                <key>offset</key>
                <string>{-44,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,193},{96,148}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{80,140}}</string>
                <key>offset</key>
                <string>{-44,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,195},{80,140}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,510},{72,156}}</string>
                <key>offset</key>
                <string>{-65,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,186},{72,156}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,732},{76,146}}</string>
                <key>offset</key>
                <string>{-84,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,196},{76,146}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,444},{88,148}}</string>
                <key>offset</key>
                <string>{-94,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,194},{88,148}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,142},{94,148}}</string>
                <key>offset</key>
                <string>{-41,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,197},{94,148}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,880},{128,132}}</string>
                <key>offset</key>
                <string>{-21,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,213},{128,132}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,112}}</string>
                <key>offset</key>
                <string>{9,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,298},{172,112}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/6/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{76,160}}</string>
                <key>offset</key>
                <string>{-49,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,183},{76,160}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>107.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aea77e6613b57fbd503512000ea4e1d$</string>
            <key>textureFileName</key>
            <string>107.png</string>
        </dict>
    </dict>
</plist>
