<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100007/6/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{60,168}}</string>
                <key>offset</key>
                <string>{-54,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,175},{60,168}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100007/6/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,214}}</string>
                <key>offset</key>
                <string>{-59,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,129},{62,214}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>107a0.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d135ecb4c431324935d73b7164bec52d$</string>
            <key>textureFileName</key>
            <string>107a0.png</string>
        </dict>
    </dict>
</plist>
