<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100009/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,416},{82,166}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,128},{82,166}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{82,166}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,128},{82,166}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,478},{80,166}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,128},{80,166}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,440},{80,166}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,128},{80,166}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{106,154}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,133},{106,154}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,258},{96,168}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,126},{96,168}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{102,162}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,130},{102,162}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,108},{106,152}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,134},{106,152}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{92,168}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,119},{92,168}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{94,164}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,124},{94,164}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,356},{82,166}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,128},{82,166}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,500},{76,166}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,126},{76,166}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,216},{108,168}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,127},{108,168}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,134},{122,168}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,126},{122,168}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{96,168}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,129},{96,168}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,578},{116,162}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,136},{116,162}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,728},{118,158}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,140},{118,158}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,326},{88,166}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,129},{88,166}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{96,172}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,139},{96,172}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,696},{158,156}}</string>
                <key>offset</key>
                <string>{49,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,189},{158,156}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{174,132}}</string>
                <key>offset</key>
                <string>{58,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,220},{174,132}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/6/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,522},{98,164}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,126},{98,164}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/6/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,622},{104,162}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,115},{104,162}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100009/6/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,180}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,97},{102,180}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>109.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:880e09658d738b2b2e37a1936582468d$</string>
            <key>textureFileName</key>
            <string>109.png</string>
        </dict>
    </dict>
</plist>
