<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100010/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{310,206}}</string>
                <key>offset</key>
                <string>{-45,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,134},{310,206}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,596},{306,204}}</string>
                <key>offset</key>
                <string>{-43,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,136},{306,204}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,414},{306,204}}</string>
                <key>offset</key>
                <string>{-43,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,136},{306,204}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,206},{286,206}}</string>
                <key>offset</key>
                <string>{-41,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,134},{286,206}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{204,208}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,135},{204,208}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,802},{206,206}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,137},{206,206}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,802},{204,226}}</string>
                <key>offset</key>
                <string>{-27,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,116},{204,226}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,620},{192,228}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,110},{192,228}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{400,184}}</string>
                <key>offset</key>
                <string>{-155,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,151},{400,184}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{412,218}}</string>
                <key>offset</key>
                <string>{-186,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,198},{412,218}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/6/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,802},{222,204}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,136},{222,204}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/6/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,392},{202,314}}</string>
                <key>offset</key>
                <string>{9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,26},{202,314}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/6/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,186},{204,314}}</string>
                <key>offset</key>
                <string>{8,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,26},{204,314}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/100010/6/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{202,314}}</string>
                <key>offset</key>
                <string>{9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,26},{202,314}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>110.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05396d540a4a91be1655f54ec4521a72$</string>
            <key>textureFileName</key>
            <string>110.png</string>
        </dict>
    </dict>
</plist>
