<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100012/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,217},{168,189}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,131},{168,189}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,172},{158,179}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,130},{158,179}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,502},{150,177}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,130},{150,177}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,332},{168,185}}</string>
                <key>offset</key>
                <string>{-18,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,130},{168,185}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{240,153}}</string>
                <key>offset</key>
                <string>{35,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,140},{240,153}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,656},{228,155}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,129},{228,155}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,386},{186,173}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,133},{186,173}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{170,183}}</string>
                <key>offset</key>
                <string>{-15,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,138},{170,183}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,325},{236,165}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,128},{236,165}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,217},{254,161}}</string>
                <key>offset</key>
                <string>{20,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,132},{254,161}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,818},{162,189}}</string>
                <key>offset</key>
                <string>{-23,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,131},{162,189}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,654},{224,165}}</string>
                <key>offset</key>
                <string>{-57,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,132},{224,165}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,535},{228,211}}</string>
                <key>offset</key>
                <string>{-55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,86},{228,211}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{410,183}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,113},{410,183}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{426,215}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,81},{426,215}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,818},{196,157}}</string>
                <key>offset</key>
                <string>{11,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,140},{196,157}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,574},{176,165}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,132},{176,165}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,185},{142,199}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,101},{142,199}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,683},{190,133}}</string>
                <key>offset</key>
                <string>{-12,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,164},{190,133}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,546},{190,135}}</string>
                <key>offset</key>
                <string>{19,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,162},{190,135}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,741},{156,165}}</string>
                <key>offset</key>
                <string>{29,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,156},{156,165}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,408},{136,179}}</string>
                <key>offset</key>
                <string>{26,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,165},{136,179}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/6/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,818},{206,165}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,132},{206,165}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/6/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,185},{138,265}}</string>
                <key>offset</key>
                <string>{-24,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,32},{138,265}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/6/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,492},{162,233}}</string>
                <key>offset</key>
                <string>{-36,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,64},{162,233}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>112.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54f475f463830401bfacfefdc44d3d0f$</string>
            <key>textureFileName</key>
            <string>112.png</string>
        </dict>
    </dict>
</plist>
