<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100012/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,167},{136,193}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,130},{136,193}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{160,247}}</string>
                <key>offset</key>
                <string>{-35,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,50},{160,247}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,167},{358,173}}</string>
                <key>offset</key>
                <string>{111,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,121},{358,173}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{478,165}}</string>
                <key>offset</key>
                <string>{52,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,132},{478,165}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/100012/3/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,362},{122,189}}</string>
                <key>offset</key>
                <string>{-13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,130},{122,189}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>112a0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a0c93c4153cc50e9647bcd7cc5b6fe9$</string>
            <key>textureFileName</key>
            <string>112a0.png</string>
        </dict>
    </dict>
</plist>
