<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100014/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,490},{286,304}}</string>
                <key>offset</key>
                <string>{-48,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,40},{286,304}}</string>
                <key>sourceSize</key>
                <string>{970,546}</string>
            </dict>
            <key>ListSprite/100014/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{402,326}}</string>
                <key>offset</key>
                <string>{-157,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,18},{402,326}}</string>
                <key>sourceSize</key>
                <string>{970,546}</string>
            </dict>
            <key>ListSprite/100014/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{448,250}}</string>
                <key>offset</key>
                <string>{-163,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,110},{448,250}}</string>
                <key>sourceSize</key>
                <string>{970,546}</string>
            </dict>
            <key>ListSprite/100014/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{450,160}}</string>
                <key>offset</key>
                <string>{-169,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,254},{450,160}}</string>
                <key>sourceSize</key>
                <string>{970,546}</string>
            </dict>
            <key>ListSprite/100014/6/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,252},{260,234}}</string>
                <key>offset</key>
                <string>{-17,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,115},{260,234}}</string>
                <key>sourceSize</key>
                <string>{970,546}</string>
            </dict>
            <key>ListSprite/100014/6/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,490},{206,326}}</string>
                <key>offset</key>
                <string>{-16,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,24},{206,326}}</string>
                <key>sourceSize</key>
                <string>{970,546}</string>
            </dict>
            <key>ListSprite/100014/6/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,252},{298,292}}</string>
                <key>offset</key>
                <string>{-7,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,57},{298,292}}</string>
                <key>sourceSize</key>
                <string>{970,546}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>114a1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:099a343224f6ff8cb2f031734f73ad5a$</string>
            <key>textureFileName</key>
            <string>114a1.png</string>
        </dict>
    </dict>
</plist>
