<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100017/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,185},{94,183}}</string>
                <key>offset</key>
                <string>{16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,163},{94,183}}</string>
                <key>sourceSize</key>
                <string>{820,461}</string>
            </dict>
            <key>ListSprite/100017/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{102,183}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,163},{102,183}}</string>
                <key>sourceSize</key>
                <string>{820,461}</string>
            </dict>
            <key>ListSprite/100017/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{102,183}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,163},{102,183}}</string>
                <key>sourceSize</key>
                <string>{820,461}</string>
            </dict>
            <key>ListSprite/100017/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,187},{78,183}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,163},{78,183}}</string>
                <key>sourceSize</key>
                <string>{820,461}</string>
            </dict>
            <key>ListSprite/100017/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{98,191}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,159},{98,191}}</string>
                <key>sourceSize</key>
                <string>{820,461}</string>
            </dict>
            <key>ListSprite/100017/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,406},{106,199}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,155},{106,199}}</string>
                <key>sourceSize</key>
                <string>{820,461}</string>
            </dict>
            <key>ListSprite/100017/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,205},{126,199}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,155},{126,199}}</string>
                <key>sourceSize</key>
                <string>{820,461}</string>
            </dict>
            <key>ListSprite/100017/2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,203}}</string>
                <key>offset</key>
                <string>{34,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,152},{166,203}}</string>
                <key>sourceSize</key>
                <string>{820,461}</string>
            </dict>
            <key>ListSprite/100017/2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,205},{142,203}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,152},{142,203}}</string>
                <key>sourceSize</key>
                <string>{820,461}</string>
            </dict>
            <key>ListSprite/100017/2/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{104,185}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,161},{104,185}}</string>
                <key>sourceSize</key>
                <string>{820,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>117.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d6d0a0dad1d25d4a57e7552d6915a3a$</string>
            <key>textureFileName</key>
            <string>117.png</string>
        </dict>
    </dict>
</plist>
