<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100021/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,512},{88,150}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,154},{88,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,496},{88,150}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,154},{88,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,406},{88,150}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,154},{88,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{88,152}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,153},{88,152}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,668},{108,142}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,158},{108,142}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,784},{80,140}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,153},{80,140}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{96,144}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,158},{96,144}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,586},{80,148}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,154},{80,148}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,104},{122,150}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,153},{122,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{154,136}}</string>
                <key>offset</key>
                <string>{-42,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,167},{154,136}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,108},{80,174}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,128},{80,174}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,394},{150,116}}</string>
                <key>offset</key>
                <string>{48,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,186},{150,116}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,512},{88,150}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,154},{88,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,710},{102,142}}</string>
                <key>offset</key>
                <string>{-25,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,160},{102,142}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{138,148}}</string>
                <key>offset</key>
                <string>{43,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,155},{138,148}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,256},{160,148}}</string>
                <key>offset</key>
                <string>{-35,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,154},{160,148}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{90,150}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,157},{90,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,814},{96,136}}</string>
                <key>offset</key>
                <string>{-11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,172},{96,136}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,866},{104,138}}</string>
                <key>offset</key>
                <string>{-23,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,169},{104,138}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,866},{84,138}}</string>
                <key>offset</key>
                <string>{9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,173},{84,138}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{102,126}}</string>
                <key>offset</key>
                <string>{22,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,185},{102,126}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,602},{144,106}}</string>
                <key>offset</key>
                <string>{41,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,203},{144,106}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,190},{166,90}}</string>
                <key>offset</key>
                <string>{56,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,266},{166,90}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/6/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,282},{110,152}}</string>
                <key>offset</key>
                <string>{-12,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,153},{110,152}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/6/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{106,188}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,116},{106,188}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/6/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{116,180}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,124},{116,180}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/100021/6/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,188}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,116},{106,188}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>121.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4018100ed73fb3c89e983ffa19e48f5e$</string>
            <key>textureFileName</key>
            <string>121.png</string>
        </dict>
    </dict>
</plist>
