<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200001/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,660},{278,242}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,135},{278,242}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200001/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,310},{348,242}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,135},{348,242}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200001/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{278,242}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,135},{278,242}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200001/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{296,298}}</string>
                <key>offset</key>
                <string>{-71,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,85},{296,298}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200001/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{194,308}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,79},{194,308}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200001/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{342,256}}</string>
                <key>offset</key>
                <string>{81,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,209},{342,256}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>201a0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55f692c20c4208d0476209caff976156$</string>
            <key>textureFileName</key>
            <string>201a0.png</string>
        </dict>
    </dict>
</plist>
