<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200003/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,692},{126,157}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,139},{126,157}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,564},{130,157}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,139},{130,157}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,560},{130,157}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,139},{130,157}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,594},{128,157}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,139},{128,157}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,157},{152,155}}</string>
                <key>offset</key>
                <string>{-36,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,141},{152,155}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,314},{144,151}}</string>
                <key>offset</key>
                <string>{-39,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,134},{144,151}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,846},{144,149}}</string>
                <key>offset</key>
                <string>{-37,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,139},{144,149}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{148,153}}</string>
                <key>offset</key>
                <string>{-35,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,140},{148,153}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{144,157}}</string>
                <key>offset</key>
                <string>{-39,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,135},{144,157}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,412},{146,157}}</string>
                <key>offset</key>
                <string>{-39,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,139},{146,157}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,316},{94,161}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,139},{94,161}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{106,161}}</string>
                <key>offset</key>
                <string>{-16,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,139},{106,161}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,149},{178,159}}</string>
                <key>offset</key>
                <string>{45,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,139},{178,159}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{214,155}}</string>
                <key>offset</key>
                <string>{-56,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,138},{214,155}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,460},{132,157}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,139},{132,157}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,846},{146,153}}</string>
                <key>offset</key>
                <string>{-35,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,146},{146,153}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,157},{178,157}}</string>
                <key>offset</key>
                <string>{35,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,142},{178,157}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{224,147}}</string>
                <key>offset</key>
                <string>{56,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,151},{224,147}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>203.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99bb5f0f55d62700ae5ecb7f179b3178$</string>
            <key>textureFileName</key>
            <string>203.png</string>
        </dict>
    </dict>
</plist>
