<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200003/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,113},{130,157}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,140},{130,157}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{108,149}}</string>
                <key>offset</key>
                <string>{-16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,148},{108,149}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,151},{112,153}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,144},{112,153}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{136,139}}</string>
                <key>offset</key>
                <string>{26,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,162},{136,139}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{180,111}}</string>
                <key>offset</key>
                <string>{45,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,187},{180,111}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{178,113}}</string>
                <key>offset</key>
                <string>{50,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,187},{178,113}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
            <key>ListSprite/200003/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{218,67}}</string>
                <key>offset</key>
                <string>{75,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,255},{218,67}}</string>
                <key>sourceSize</key>
                <string>{680,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>203a0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce7bc3ef0755b9c58c602a22a44ab46d$</string>
            <key>textureFileName</key>
            <string>203a0.png</string>
        </dict>
    </dict>
</plist>
