<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200006/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,184}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,153},{150,184}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200006/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,186},{156,180}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,159},{156,180}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200006/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{154,174}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,166},{154,174}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200006/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{142,184}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,157},{142,184}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200006/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{140,160}}</string>
                <key>offset</key>
                <string>{-46,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,172},{140,160}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200006/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,94},{146,158}}</string>
                <key>offset</key>
                <string>{-86,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,173},{146,158}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200006/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{164,92}}</string>
                <key>offset</key>
                <string>{-133,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,256},{164,92}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>206a0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79bac9d4df876ca2c5e4aa94a072e9f5$</string>
            <key>textureFileName</key>
            <string>206a0.png</string>
        </dict>
    </dict>
</plist>
