<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200008/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,464},{98,150}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,154},{98,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,462},{98,150}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,154},{98,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{98,150}}</string>
                <key>offset</key>
                <string>{-8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,154},{98,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,364},{98,150}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,154},{98,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,674},{124,142}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,158},{124,142}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{112,138}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,154},{112,138}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{110,140}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,156},{110,140}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,580},{116,144}}</string>
                <key>offset</key>
                <string>{-16,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,158},{116,144}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{112,148}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,154},{112,148}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,562},{110,148}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,156},{110,148}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,212},{98,150}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,154},{98,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,136}}</string>
                <key>offset</key>
                <string>{-57,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,167},{184,136}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{96,184}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,119},{96,184}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{166,122}}</string>
                <key>offset</key>
                <string>{57,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,186},{166,122}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,464},{98,150}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,154},{98,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,564},{120,144}}</string>
                <key>offset</key>
                <string>{-35,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,158},{120,144}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,312},{154,148}}</string>
                <key>offset</key>
                <string>{49,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,155},{154,148}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,214},{164,148}}</string>
                <key>offset</key>
                <string>{-36,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,154},{164,148}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,112},{98,150}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,157},{98,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,686},{96,140}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,168},{96,140}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{102,156}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,151},{102,156}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,212},{98,150}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,154},{98,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,784},{100,138}}</string>
                <key>offset</key>
                <string>{17,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,172},{100,138}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,812},{128,132}}</string>
                <key>offset</key>
                <string>{35,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,179},{128,132}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200008/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,98},{174,114}}</string>
                <key>offset</key>
                <string>{60,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,266},{174,114}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>208.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35f4c0ccf14b821fd743cc39f44028de$</string>
            <key>textureFileName</key>
            <string>208.png</string>
        </dict>
    </dict>
</plist>
