<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200012/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,330},{126,178}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,126},{126,178}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{126,178}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,126},{126,178}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,458},{126,176}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,128},{126,176}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{126,178}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,126},{126,178}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,696},{116,166}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,134},{116,166}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,854},{110,164}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,128},{110,164}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{110,164}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,132},{110,164}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{114,164}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,138},{114,164}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,488},{110,174}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,128},{110,174}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,586},{108,174}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,130},{108,174}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{186,174}}</string>
                <key>offset</key>
                <string>{24,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,130},{186,174}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,176},{152,178}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,125},{152,178}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,180},{142,172}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,132},{142,172}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{126,176}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,128},{126,176}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,194}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,110},{142,194}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{136,170}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,137},{136,170}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,354},{136,142}}</string>
                <key>offset</key>
                <string>{-31,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,166},{136,142}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,492},{138,154}}</string>
                <key>offset</key>
                <string>{-41,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,153},{138,154}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,632},{140,160}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,150},{140,160}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,774},{96,140}}</string>
                <key>offset</key>
                <string>{18,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,171},{96,140}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200012/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{182,86}}</string>
                <key>offset</key>
                <string>{64,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,245},{182,86}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>212.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98cfeaa8e5d2e70e3be01abae72b36a7$</string>
            <key>textureFileName</key>
            <string>212.png</string>
        </dict>
    </dict>
</plist>
