<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200013/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,377},{112,156}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{112,156}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>ListSprite/200013/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{114,154}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{114,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>ListSprite/200013/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,526},{116,152}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,26},{116,152}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>ListSprite/200013/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,590},{114,152}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,26},{114,152}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>ListSprite/200013/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,706},{102,150}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,30},{102,150}}</string>
                <key>sourceSize</key>
                <string>{224,208}</string>
            </dict>
            <key>ListSprite/200013/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,644},{116,150}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,27},{116,150}}</string>
                <key>sourceSize</key>
                <string>{224,208}</string>
            </dict>
            <key>ListSprite/200013/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,284},{132,158}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,29},{132,158}}</string>
                <key>sourceSize</key>
                <string>{224,208}</string>
            </dict>
            <key>ListSprite/200013/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,239},{136,160}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,31},{136,160}}</string>
                <key>sourceSize</key>
                <string>{224,208}</string>
            </dict>
            <key>ListSprite/200013/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{112,160}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,26},{112,160}}</string>
                <key>sourceSize</key>
                <string>{224,208}</string>
            </dict>
            <key>ListSprite/200013/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,491},{108,154}}</string>
                <key>offset</key>
                <string>{20,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,32},{108,154}}</string>
                <key>sourceSize</key>
                <string>{224,208}</string>
            </dict>
            <key>ListSprite/200013/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,0},{89,152}}</string>
                <key>offset</key>
                <string>{-31,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,54},{89,152}}</string>
                <key>sourceSize</key>
                <string>{257,210}</string>
            </dict>
            <key>ListSprite/200013/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,680},{149,148}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,59},{149,148}}</string>
                <key>sourceSize</key>
                <string>{257,210}</string>
            </dict>
            <key>ListSprite/200013/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{203,138}}</string>
                <key>offset</key>
                <string>{26,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,69},{203,138}}</string>
                <key>sourceSize</key>
                <string>{257,210}</string>
            </dict>
            <key>ListSprite/200013/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{122,174}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,54},{122,174}}</string>
                <key>sourceSize</key>
                <string>{256,242}</string>
            </dict>
            <key>ListSprite/200013/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,210}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,18},{114,210}}</string>
                <key>sourceSize</key>
                <string>{256,242}</string>
            </dict>
            <key>ListSprite/200013/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,140},{166,142}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,86},{166,142}}</string>
                <key>sourceSize</key>
                <string>{256,242}</string>
            </dict>
            <key>ListSprite/200013/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{124,138}}</string>
                <key>offset</key>
                <string>{21,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,73},{124,138}}</string>
                <key>sourceSize</key>
                <string>{192,224}</string>
            </dict>
            <key>ListSprite/200013/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{118,156}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,55},{118,156}}</string>
                <key>sourceSize</key>
                <string>{192,224}</string>
            </dict>
            <key>ListSprite/200013/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,762},{108,148}}</string>
                <key>offset</key>
                <string>{-40,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,62},{108,148}}</string>
                <key>sourceSize</key>
                <string>{192,224}</string>
            </dict>
            <key>ListSprite/200013/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,418},{106,155}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,61},{106,155}}</string>
                <key>sourceSize</key>
                <string>{244,245}</string>
            </dict>
            <key>ListSprite/200013/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,872},{136,115}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,101},{136,115}}</string>
                <key>sourceSize</key>
                <string>{244,245}</string>
            </dict>
            <key>ListSprite/200013/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,601},{152,77}}</string>
                <key>offset</key>
                <string>{16,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,141},{152,77}}</string>
                <key>sourceSize</key>
                <string>{244,245}</string>
            </dict>
            <key>ListSprite/200013/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,154},{166,83}}</string>
                <key>offset</key>
                <string>{25,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,151},{166,83}}</string>
                <key>sourceSize</key>
                <string>{244,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>213.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44e66dd6893a6af2ca0ccd84ef5f1926$</string>
            <key>textureFileName</key>
            <string>213.png</string>
        </dict>
    </dict>
</plist>
