<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200014/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,866},{154,150}}</string>
                <key>offset</key>
                <string>{-20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,154},{154,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,424},{156,150}}</string>
                <key>offset</key>
                <string>{-19,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,154},{156,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,792},{156,150}}</string>
                <key>offset</key>
                <string>{-19,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,154},{156,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,866},{154,150}}</string>
                <key>offset</key>
                <string>{-19,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,154},{154,150}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,530},{194,140}}</string>
                <key>offset</key>
                <string>{23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,160},{194,140}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,204},{202,138}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,154},{202,138}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,672},{192,140}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,156},{192,140}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,150},{182,142}}</string>
                <key>offset</key>
                <string>{-14,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,160},{182,142}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{202,148}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,154},{202,148}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{200,148}}</string>
                <key>offset</key>
                <string>{18,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,156},{200,148}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{212,148}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,158},{212,148}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{232,136}}</string>
                <key>offset</key>
                <string>{-16,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,168},{232,136}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{244,136}}</string>
                <key>offset</key>
                <string>{93,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,172},{244,136}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,424},{104,202}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,129},{104,202}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,694},{96,212}}</string>
                <key>offset</key>
                <string>{18,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,132},{96,212}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,344},{232,78}}</string>
                <key>offset</key>
                <string>{89,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,267},{232,78}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>214.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbe0542616672e8e92c0bd00e22d8ddd$</string>
            <key>textureFileName</key>
            <string>214.png</string>
        </dict>
    </dict>
</plist>
