<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200014/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{106,200}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,107},{106,200}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,296},{172,196}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,112},{172,196}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{206,146}}</string>
                <key>offset</key>
                <string>{60,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,162},{206,146}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{246,146}}</string>
                <key>offset</key>
                <string>{-76,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,162},{246,146}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,200},{144,156}}</string>
                <key>offset</key>
                <string>{-17,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,151},{144,156}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{94,224}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,109},{94,224}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
            <key>ListSprite/200014/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,96},{102,216}}</string>
                <key>offset</key>
                <string>{-23,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,106},{102,216}}</string>
                <key>sourceSize</key>
                <string>{700,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>214a0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31e26c1c12d468df729bf79cdb6c3c81$</string>
            <key>textureFileName</key>
            <string>214a0.png</string>
        </dict>
    </dict>
</plist>
