<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200016/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,230},{156,266}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,132},{156,266}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,756},{156,268}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,131},{156,268}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{156,266}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,132},{156,266}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,756},{156,264}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,133},{156,264}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,498},{202,256}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,144},{202,256}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,494},{220,260}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,138},{220,260}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,230},{236,262}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,141},{236,262}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,756},{242,260}}</string>
                <key>offset</key>
                <string>{6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,144},{242,260}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,752},{220,250}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,137},{220,250}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,498},{202,252}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,141},{202,252}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,208},{288,316}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,81},{288,316}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,0},{376,206}}</string>
                <key>offset</key>
                <string>{-109,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,193},{376,206}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{552,228}}</string>
                <key>offset</key>
                <string>{19,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,194},{552,228}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
            <key>ListSprite/200016/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{488,198}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,199},{488,198}}</string>
                <key>sourceSize</key>
                <string>{850,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>216.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f86ddacbd9d41d4045152a8c4fd239df$</string>
            <key>textureFileName</key>
            <string>216.png</string>
        </dict>
    </dict>
</plist>
