<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200017/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,390},{292,182}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,148},{292,182}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200017/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{340,250}}</string>
                <key>offset</key>
                <string>{-84,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,75},{340,250}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200017/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{372,208}}</string>
                <key>offset</key>
                <string>{-105,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,117},{372,208}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200017/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,210},{360,178}}</string>
                <key>offset</key>
                <string>{69,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,149},{360,178}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200017/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,678},{262,226}}</string>
                <key>offset</key>
                <string>{20,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,104},{262,226}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200017/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,352},{186,272}}</string>
                <key>offset</key>
                <string>{-4,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{353,58},{186,272}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200017/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{174,270}}</string>
                <key>offset</key>
                <string>{-13,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,59},{174,270}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200017/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{230,264}}</string>
                <key>offset</key>
                <string>{-28,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,52},{230,264}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200017/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,0},{350,272}}</string>
                <key>offset</key>
                <string>{-106,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,46},{350,272}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200017/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{376,170}}</string>
                <key>offset</key>
                <string>{-121,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,164},{376,170}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200017/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{372,76}}</string>
                <key>offset</key>
                <string>{-122,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,248},{372,76}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>217a0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:141c252b692f4630488b981cb9fca721$</string>
            <key>textureFileName</key>
            <string>217a0.png</string>
        </dict>
    </dict>
</plist>
