<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200018/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,0},{302,347}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,70},{302,347}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
            <key>ListSprite/200018/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,310},{306,347}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,70},{306,347}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
            <key>ListSprite/200018/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{308,347}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,70},{308,347}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
            <key>ListSprite/200018/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,659},{304,347}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,70},{304,347}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
            <key>ListSprite/200018/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,310},{322,339}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,73},{322,339}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
            <key>ListSprite/200018/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,634},{318,341}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,66},{318,341}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
            <key>ListSprite/200018/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,665},{320,339}}</string>
                <key>offset</key>
                <string>{9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,69},{320,339}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
            <key>ListSprite/200018/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{322,343}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,72},{322,343}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
            <key>ListSprite/200018/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{318,349}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,66},{318,349}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>218.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccc69dab64d98542c2269c425ed5c09c$</string>
            <key>textureFileName</key>
            <string>218.png</string>
        </dict>
    </dict>
</plist>
