<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200018/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{322,381}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,83},{322,381}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
            <key>ListSprite/200018/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,633},{324,335}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,119},{324,335}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
            <key>ListSprite/200018/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{346,307}}</string>
                <key>offset</key>
                <string>{-5,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,221},{346,307}}</string>
                <key>sourceSize</key>
                <string>{968,545}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>218a1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20616a3290952122abd98c804c7521cc$</string>
            <key>textureFileName</key>
            <string>218a1.png</string>
        </dict>
    </dict>
</plist>
