<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200019/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,260},{218,158}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,125},{218,158}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,462},{208,158}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,125},{208,158}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,488},{204,158}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,125},{204,158}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,420},{214,158}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,125},{214,158}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,648},{166,152}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,127},{166,152}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,796},{196,148}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,122},{196,148}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,314},{220,146}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,125},{220,146}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,0},{230,152}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,128},{230,152}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,622},{192,158}}</string>
                <key>offset</key>
                <string>{21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,122},{192,158}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,820},{172,158}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,124},{172,158}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{172,234}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,57},{172,234}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,668},{150,180}}</string>
                <key>offset</key>
                <string>{-32,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,112},{150,180}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{280,210}}</string>
                <key>offset</key>
                <string>{59,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,78},{280,210}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,154},{228,158}}</string>
                <key>offset</key>
                <string>{38,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,151},{228,158}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,796},{196,154}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,123},{196,154}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,608},{186,196}}</string>
                <key>offset</key>
                <string>{-45,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,57},{186,196}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,0},{168,230}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,24},{168,230}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{270,258}}</string>
                <key>offset</key>
                <string>{101,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,37},{270,258}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,170},{224,156}}</string>
                <key>offset</key>
                <string>{25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,127},{224,156}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{212,154}}</string>
                <key>offset</key>
                <string>{15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,129},{212,154}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,580},{168,198}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,85},{168,198}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,328},{214,158}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,126},{214,158}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,462},{136,204}}</string>
                <key>offset</key>
                <string>{-49,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,84},{136,204}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
            <key>ListSprite/200019/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{216,64}}</string>
                <key>offset</key>
                <string>{-51,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,238},{216,64}}</string>
                <key>sourceSize</key>
                <string>{650,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>219.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e6bfcdfce65501e7c97fc86a038e854$</string>
            <key>textureFileName</key>
            <string>219.png</string>
        </dict>
    </dict>
</plist>
