<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200021/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,398},{156,182}}</string>
                <key>offset</key>
                <string>{44,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,160},{156,182}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,864},{150,182}}</string>
                <key>offset</key>
                <string>{47,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,160},{150,182}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{156,182}}</string>
                <key>offset</key>
                <string>{44,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,160},{156,182}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,398},{162,182}}</string>
                <key>offset</key>
                <string>{41,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,160},{162,182}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,762},{150,182}}</string>
                <key>offset</key>
                <string>{47,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,160},{150,182}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,714},{150,182}}</string>
                <key>offset</key>
                <string>{47,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,160},{150,182}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,674},{152,182}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,130},{152,182}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,560},{154,182}}</string>
                <key>offset</key>
                <string>{48,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,158},{154,182}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,580},{150,182}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,132},{150,182}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{230,246}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,89},{230,246}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{250,214}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,126},{250,214}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{256,184}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,162},{256,184}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
            <key>ListSprite/200021/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{262,156}}</string>
                <key>offset</key>
                <string>{-28,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,210},{262,156}}</string>
                <key>sourceSize</key>
                <string>{750,422}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>221.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3830c0aea99ab6ee54b1fb087fac22ef$</string>
            <key>textureFileName</key>
            <string>221.png</string>
        </dict>
    </dict>
</plist>
