<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200023/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,472},{206,156}}</string>
                <key>offset</key>
                <string>{67,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,223},{206,156}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,732},{206,154}}</string>
                <key>offset</key>
                <string>{73,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,225},{206,154}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{206,154}}</string>
                <key>offset</key>
                <string>{74,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,225},{206,154}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,538},{206,154}}</string>
                <key>offset</key>
                <string>{70,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,225},{206,154}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,472},{206,156}}</string>
                <key>offset</key>
                <string>{67,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,223},{206,156}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,150},{208,156}}</string>
                <key>offset</key>
                <string>{68,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,213},{208,156}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,380},{206,162}}</string>
                <key>offset</key>
                <string>{68,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,218},{206,162}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,208},{206,172}}</string>
                <key>offset</key>
                <string>{67,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,223},{206,172}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{208,174}}</string>
                <key>offset</key>
                <string>{68,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,213},{208,174}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,306},{206,166}}</string>
                <key>offset</key>
                <string>{67,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,217},{206,166}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{206,156}}</string>
                <key>offset</key>
                <string>{67,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,223},{206,156}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,0},{224,150}}</string>
                <key>offset</key>
                <string>{32,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,229},{224,150}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{242,140}}</string>
                <key>offset</key>
                <string>{67,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,239},{242,140}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{352,128}}</string>
                <key>offset</key>
                <string>{136,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,253},{352,128}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,382},{206,156}}</string>
                <key>offset</key>
                <string>{67,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,223},{206,156}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,888},{124,192}}</string>
                <key>offset</key>
                <string>{36,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,190},{124,192}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{254,154}}</string>
                <key>offset</key>
                <string>{121,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,235},{254,154}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{268,136}}</string>
                <key>offset</key>
                <string>{-18,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,243},{268,136}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,732},{200,156}}</string>
                <key>offset</key>
                <string>{61,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,223},{200,156}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,628},{192,154}}</string>
                <key>offset</key>
                <string>{52,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,225},{192,154}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,820},{188,150}}</string>
                <key>offset</key>
                <string>{40,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,229},{188,150}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,692},{196,150}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{353,217},{196,150}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,136},{224,128}}</string>
                <key>offset</key>
                <string>{14,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,253},{224,128}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,264},{208,118}}</string>
                <key>offset</key>
                <string>{50,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,283},{208,118}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
            <key>ListSprite/200023/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,128},{198,88}}</string>
                <key>offset</key>
                <string>{76,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,330},{198,88}}</string>
                <key>sourceSize</key>
                <string>{900,506}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>223.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6920a8ecc7a8001c49efa423cc25de0$</string>
            <key>textureFileName</key>
            <string>223.png</string>
        </dict>
    </dict>
</plist>
