<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200024/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,231},{208,335}}</string>
                <key>offset</key>
                <string>{-31,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,0},{208,335}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,441},{252,311}}</string>
                <key>offset</key>
                <string>{-78,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,22},{252,311}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{428,229}}</string>
                <key>offset</key>
                <string>{-194,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,189},{428,229}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>224a1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ced8d9986498d5b3842a450bbe739ec3$</string>
            <key>textureFileName</key>
            <string>224a1.png</string>
        </dict>
    </dict>
</plist>
