<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/200024/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{320,211}}</string>
                <key>offset</key>
                <string>{-45,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,124},{320,211}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{318,211}}</string>
                <key>offset</key>
                <string>{-44,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,124},{318,211}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{322,213}}</string>
                <key>offset</key>
                <string>{-46,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,122},{322,213}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,424},{302,215}}</string>
                <key>offset</key>
                <string>{-41,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,119},{302,215}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,211},{316,213}}</string>
                <key>offset</key>
                <string>{-36,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,121},{316,213}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{310,203}}</string>
                <key>offset</key>
                <string>{-38,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,123},{310,203}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{312,197}}</string>
                <key>offset</key>
                <string>{-37,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,125},{312,197}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,211},{308,195}}</string>
                <key>offset</key>
                <string>{-39,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,122},{308,195}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,406},{306,203}}</string>
                <key>offset</key>
                <string>{-40,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,120},{306,203}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,613},{300,215}}</string>
                <key>offset</key>
                <string>{-42,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,121},{300,215}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,639},{212,217}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,121},{212,217}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,609},{214,213}}</string>
                <key>offset</key>
                <string>{-21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,125},{214,213}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
            <key>ListSprite/200024/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,639},{214,237}}</string>
                <key>offset</key>
                <string>{-29,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,104},{214,237}}</string>
                <key>sourceSize</key>
                <string>{890,501}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>224a0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d59f854b34860c8e1ac725cdacd8a7b$</string>
            <key>textureFileName</key>
            <string>224a0.png</string>
        </dict>
    </dict>
</plist>
