<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/300005/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,0},{80,110}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{80,110}}</string>
                <key>sourceSize</key>
                <string>{96,110}</string>
            </dict>
            <key>ListSprite/300006/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{21,224}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,224}}</string>
                <key>sourceSize</key>
                <string>{25,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8122c000a97f6f6a3b21525ff7b2b0d$</string>
            <key>textureFileName</key>
            <string>effect_2.png</string>
        </dict>
    </dict>
</plist>
