<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{38,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{38,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Effect/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{36,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{36,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Effect/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,126},{36,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{36,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Effect/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,86},{38,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Effect/2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,44},{40,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Effect/2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Effect/2/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Effect/2/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_3.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8d82e8d3cc34a6beb7f36c2f94946dd$</string>
            <key>textureFileName</key>
            <string>effect_3.png</string>
        </dict>
    </dict>
</plist>
