<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,351},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>Effect/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,117},{48,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>Effect/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,299},{48,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>Effect/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,210},{48,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>Effect/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,121},{48,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>Effect/3/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,206},{46,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>Effect/3/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,348},{46,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>Effect/3/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,129},{50,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>Effect/3/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,136},{50,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>Effect/3/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,427},{46,82}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{46,82}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>Effect/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1},{59,115}}</string>
                <key>offset</key>
                <string>{-24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,50},{59,115}}</string>
                <key>sourceSize</key>
                <string>{329,235}</string>
            </dict>
            <key>Effect/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1},{63,119}}</string>
                <key>offset</key>
                <string>{-26,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,45},{63,119}}</string>
                <key>sourceSize</key>
                <string>{329,235}</string>
            </dict>
            <key>Effect/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,225},{63,125}}</string>
                <key>offset</key>
                <string>{-26,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,39},{63,125}}</string>
                <key>sourceSize</key>
                <string>{329,235}</string>
            </dict>
            <key>Effect/4/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1},{63,127}}</string>
                <key>offset</key>
                <string>{-26,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,36},{63,127}}</string>
                <key>sourceSize</key>
                <string>{329,235}</string>
            </dict>
            <key>Effect/4/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,427},{63,133}}</string>
                <key>offset</key>
                <string>{-26,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,31},{63,133}}</string>
                <key>sourceSize</key>
                <string>{329,235}</string>
            </dict>
            <key>Effect/4/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,430},{65,139}}</string>
                <key>offset</key>
                <string>{-27,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,26},{65,139}}</string>
                <key>sourceSize</key>
                <string>{329,235}</string>
            </dict>
            <key>Effect/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,430},{74,49}}</string>
                <key>offset</key>
                <string>{4,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,212},{74,49}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>Effect/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,136},{118,89}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,162},{118,89}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>Effect/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1},{134,129}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,125},{134,129}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>Effect/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,229},{164,167}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,82},{164,167}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>Effect/5/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,229},{200,199}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,51},{200,199}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>Effect/5/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{202,227}}</string>
                <key>offset</key>
                <string>{18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,21},{202,227}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>Effect/6/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,393},{36,21}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,21}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>Effect/6/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,397},{58,29}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{58,29}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>Effect/6/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,430},{70,73}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{70,73}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>Effect/6/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,430},{70,59}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{70,59}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>Effect/7/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,397},{31,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Effect/7/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,395},{23,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{23,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Effect/7/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,496},{15,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{15,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Effect/7/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,396},{27,41}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Effect/7/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,466},{35,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{35,39}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Effect/7/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,397},{29,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{29,39}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Effect/7/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,496},{15,41}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{15,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Effect/7/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,395},{21,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{21,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Effect/7/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,466},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Effect/8/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,395},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
			<key>ListSprite/300005/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,430},{74,49}}</string>
                <key>offset</key>
                <string>{4,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,212},{74,49}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>ListSprite/300005/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,136},{118,89}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,162},{118,89}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>ListSprite/300005/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1},{134,129}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,125},{134,129}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>ListSprite/300005/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,229},{164,167}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,82},{164,167}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>ListSprite/300005/5/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,229},{200,199}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,51},{200,199}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>ListSprite/300005/5/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{202,227}}</string>
                <key>offset</key>
                <string>{18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,21},{202,227}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
			<key>ListSprite/300004/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,430},{74,49}}</string>
                <key>offset</key>
                <string>{4,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,212},{74,49}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>ListSprite/300004/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,136},{118,89}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,162},{118,89}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>ListSprite/300004/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1},{134,129}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,125},{134,129}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>ListSprite/300004/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,229},{164,167}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,82},{164,167}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>ListSprite/300004/5/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,229},{200,199}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,51},{200,199}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
            <key>ListSprite/300004/5/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{202,227}}</string>
                <key>offset</key>
                <string>{18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,21},{202,227}}</string>
                <key>sourceSize</key>
                <string>{284,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_1.png</string>
            <key>size</key>
            <string>{578,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b7e034c185bd48946716acc081f606a$</string>
            <key>textureFileName</key>
            <string>effect_1.png</string>
        </dict>
    </dict>
</plist>
