<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100006/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,538},{118,222}}</string>
                <key>offset</key>
                <string>{-82,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{709,418},{118,222}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,464},{118,222}}</string>
                <key>offset</key>
                <string>{-82,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{709,418},{118,222}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,678},{118,220}}</string>
                <key>offset</key>
                <string>{-82,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{709,420},{118,220}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,658},{118,220}}</string>
                <key>offset</key>
                <string>{-82,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{709,420},{118,220}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/0/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,584},{118,220}}</string>
                <key>offset</key>
                <string>{-82,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{709,420},{118,220}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/0/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{118,222}}</string>
                <key>offset</key>
                <string>{-82,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{709,418},{118,222}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,460},{220,162}}</string>
                <key>offset</key>
                <string>{-126,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{614,493},{220,162}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,832},{212,160}}</string>
                <key>offset</key>
                <string>{-129,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{615,491},{212,160}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,704},{216,160}}</string>
                <key>offset</key>
                <string>{-129,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{613,488},{216,160}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{228,162}}</string>
                <key>offset</key>
                <string>{-125,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{611,490},{228,162}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,224},{234,162}}</string>
                <key>offset</key>
                <string>{-124,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{609,493},{234,162}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,300},{232,162}}</string>
                <key>offset</key>
                <string>{-124,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,490},{232,162}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,398},{226,160}}</string>
                <key>offset</key>
                <string>{-125,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{612,488},{226,160}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,798},{214,162}}</string>
                <key>offset</key>
                <string>{-130,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{613,489},{214,162}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,612},{218,162}}</string>
                <key>offset</key>
                <string>{-126,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{615,491},{218,162}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,560},{116,222}}</string>
                <key>offset</key>
                <string>{-81,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{711,418},{116,222}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/2/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{278,162}}</string>
                <key>offset</key>
                <string>{8,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{719,487},{278,162}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{256,208}}</string>
                <key>offset</key>
                <string>{-136,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,432},{256,208}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,164},{258,232}}</string>
                <key>offset</key>
                <string>{-67,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{654,456},{258,232}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{304,152}}</string>
                <key>offset</key>
                <string>{-41,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{657,507},{304,152}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,154},{278,144}}</string>
                <key>offset</key>
                <string>{-77,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{634,506},{278,144}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,866},{212,156}}</string>
                <key>offset</key>
                <string>{-61,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{683,484},{212,156}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/2/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{310,162}}</string>
                <key>offset</key>
                <string>{-139,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{556,478},{310,162}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,398},{128,212}}</string>
                <key>offset</key>
                <string>{-87,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{699,429},{128,212}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,832},{136,190}}</string>
                <key>offset</key>
                <string>{-91,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{691,451},{136,190}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,682},{142,178}}</string>
                <key>offset</key>
                <string>{-94,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{685,463},{142,178}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d22294ca41d9898e931bdc7ff1e8c01$</string>
            <key>textureFileName</key>
            <string>p_1.png</string>
        </dict>
    </dict>
</plist>
