<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100006/2/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{310,242}}</string>
                <key>offset</key>
                <string>{-8,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{687,407},{310,242}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/2/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,502},{226,280}}</string>
                <key>offset</key>
                <string>{-136,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{601,360},{226,280}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/2/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,210},{258,234}}</string>
                <key>offset</key>
                <string>{-90,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,406},{258,234}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,202},{116,222}}</string>
                <key>offset</key>
                <string>{-81,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{711,418},{116,222}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/3/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,202},{314,142}}</string>
                <key>offset</key>
                <string>{43,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{736,496},{314,142}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/3/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,346},{308,154}}</string>
                <key>offset</key>
                <string>{40,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{736,485},{308,154}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,624},{228,158}}</string>
                <key>offset</key>
                <string>{-133,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{603,483},{228,158}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,648},{178,198}}</string>
                <key>offset</key>
                <string>{-112,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{649,484},{178,198}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{374,200}}</string>
                <key>offset</key>
                <string>{-38,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{625,490},{374,200}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/3/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,0},{208,260}}</string>
                <key>offset</key>
                <string>{-20,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{726,396},{208,260}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/3/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,854},{142,146}}</string>
                <key>offset</key>
                <string>{-55,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{724,494},{142,146}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/3/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{188,138}}</string>
                <key>offset</key>
                <string>{-117,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{639,502},{188,138}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/3/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,854},{206,138}}</string>
                <key>offset</key>
                <string>{-45,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{702,500},{206,138}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/3/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{320,148}}</string>
                <key>offset</key>
                <string>{40,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{730,494},{320,148}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{174,162}}</string>
                <key>offset</key>
                <string>{-61,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{702,479},{174,162}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,854},{158,158}}</string>
                <key>offset</key>
                <string>{-91,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{680,497},{158,158}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,854},{150,220}}</string>
                <key>offset</key>
                <string>{-75,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{700,479},{150,220}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,426},{132,196}}</string>
                <key>offset</key>
                <string>{-42,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{742,515},{132,196}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/5/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,546},{128,188}}</string>
                <key>offset</key>
                <string>{-44,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{742,523},{128,188}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/7/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,446},{246,200}}</string>
                <key>offset</key>
                <string>{-142,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,440},{246,200}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/7/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,150}}</string>
                <key>offset</key>
                <string>{-29,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{629,489},{384,150}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4956f7f830c983b3363f387ef087dcf$</string>
            <key>textureFileName</key>
            <string>p_2.png</string>
        </dict>
    </dict>
</plist>
