<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100006/7/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{296,238}}</string>
                <key>offset</key>
                <string>{-167,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{535,400},{296,238}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/7/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{340,176}}</string>
                <key>offset</key>
                <string>{-22,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{658,462},{340,176}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/7/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,0},{270,174}}</string>
                <key>offset</key>
                <string>{-60,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{655,464},{270,174}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/7/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,456},{218,280}}</string>
                <key>offset</key>
                <string>{-30,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{711,358},{218,280}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/7/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,272},{140,248}}</string>
                <key>offset</key>
                <string>{-57,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{723,390},{140,248}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/7/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,738},{218,214}}</string>
                <key>offset</key>
                <string>{-24,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{717,426},{218,214}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/7/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,678},{276,212}}</string>
                <key>offset</key>
                <string>{-116,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,446},{276,212}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/7/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,414},{202,154}}</string>
                <key>offset</key>
                <string>{-123,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{626,486},{202,154}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/7/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,292},{306,140}}</string>
                <key>offset</key>
                <string>{-56,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{641,498},{306,140}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/7/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,738},{220,240}}</string>
                <key>offset</key>
                <string>{-117,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{623,398},{220,240}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/8/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,456},{304,220}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{700,437},{304,220}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/8/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{454,270}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{625,416},{454,270}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/8/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{470,290}}</string>
                <key>offset</key>
                <string>{13,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{628,411},{470,290}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b277f1afb6bb6739e4da61fa89be4d3f$</string>
            <key>textureFileName</key>
            <string>p_3.png</string>
        </dict>
    </dict>
</plist>
