<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSprite/100006/8/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{474,338}}</string>
                <key>offset</key>
                <string>{37,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{650,385},{474,338}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/8/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{468,364}}</string>
                <key>offset</key>
                <string>{56,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{672,371},{468,364}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/8/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,470},{456,298}}</string>
                <key>offset</key>
                <string>{79,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{701,400},{456,298}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/9/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{624,406}}</string>
                <key>offset</key>
                <string>{102,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{640,326},{624,406}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
            <key>ListSprite/100006/9/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,470},{458,286}}</string>
                <key>offset</key>
                <string>{111,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{732,446},{458,286}}</string>
                <key>sourceSize</key>
                <string>{1700,956}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fca94ee0636fdb750d3b10126591eee$</string>
            <key>textureFileName</key>
            <string>p_4.png</string>
        </dict>
    </dict>
</plist>
