<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>2001</key>
        <dict>
            <key>achievement-name</key>
            <string>步兵</string>
            <key>achievement-description</key>
            <string>民兵升到顶级</string>
        </dict>
        <key>2002</key>
        <dict>
            <key>achievement-name</key>
            <string>步兵精英</string>
            <key>achievement-description</key>
            <string>短剑兵升到顶级</string>
        </dict>
        <key>2003</key>
        <dict>
            <key>achievement-name</key>
            <string>枪术精英</string>
            <key>achievement-description</key>
            <string>长枪兵升到顶级</string>
        </dict>
        <key>2004</key>
        <dict>
            <key>achievement-name</key>
            <string>弓术精英</string>
            <key>achievement-description</key>
            <string>弓箭手升到顶级</string>
        </dict>
        <key>2005</key>
        <dict>
            <key>achievement-name</key>
            <string>骑术大师</string>
            <key>achievement-description</key>
            <string>骑兵升到顶级</string>
        </dict>
        <key>2006</key>
        <dict>
            <key>achievement-name</key>
            <string>剑术大师</string>
            <key>achievement-description</key>
            <string>重剑兵升到顶级</string>
        </dict>
        <key>2007</key>
        <dict>
            <key>achievement-name</key>
            <string>法术大师</string>
            <key>achievement-description</key>
            <string>法师升到顶级</string>
        </dict>
        <key>2008</key>
        <dict>
            <key>achievement-name</key>
            <string>万夫不当</string>
            <key>achievement-description</key>
            <string>张飞升到顶级</string>
        </dict>
        <key>2009</key>
        <dict>
            <key>achievement-name</key>
            <string>一身是胆</string>
            <key>achievement-description</key>
            <string>赵云升到顶级</string>
        </dict>
        <key>2010</key>
        <dict>
            <key>achievement-name</key>
            <string>坚如磐石</string>
            <key>achievement-description</key>
            <string>甘夫人的护卫升到顶级</string>
        </dict>
        <key>2011</key>
        <dict>
            <key>achievement-name</key>
            <string>充足的补给</string>
            <key>achievement-description</key>
            <string>后勤升到顶级</string>
        </dict>
        <key>2012</key>
        <dict>
            <key>achievement-name</key>
            <string>箭如雨下</string>
            <key>achievement-description</key>
            <string>精英弓箭手升到顶级</string>
        </dict>
        <key>2013</key>
        <dict>
            <key>achievement-name</key>
            <string>巨石弹射</string>
            <key>achievement-description</key>
            <string>投石车升到顶级</string>
        </dict>
        <key>2014</key>
        <dict>
            <key>achievement-name</key>
            <string>武圣</string>
            <key>achievement-description</key>
            <string>关羽升到顶级</string>
        </dict>
        <key>2015</key>
        <dict>
            <key>achievement-name</key>
            <string>完美的军队</string>
            <key>achievement-description</key>
            <string>将所有兵种升到顶级</string>
        </dict>
        <key>2016</key>
        <dict>
            <key>achievement-name</key>
            <string>囤积</string>
            <key>achievement-description</key>
            <string>持有50000金币</string>
        </dict>
        <key>2017</key>
        <dict>
            <key>achievement-name</key>
            <string>贪婪</string>
            <key>achievement-description</key>
            <string>持有100000金币</string>
        </dict>
        <key>2018</key>
        <dict>
            <key>achievement-name</key>
            <string>漫长的战斗</string>
            <key>achievement-description</key>
            <string>完成全部25个关卡</string>
        </dict>
        <key>2019</key>
        <dict>
            <key>achievement-name</key>
            <string>血战长坂坡</string>
            <key>achievement-description</key>
            <string>完成全部50个关卡</string>
        </dict>
        <key>2020</key>
        <dict>
            <key>achievement-name</key>
            <string>血腥杀戮</string>
            <key>achievement-description</key>
            <string>杀死500个敌人</string>
        </dict>
        <key>2021</key>
        <dict>
            <key>achievement-name</key>
            <string>蛮力</string>
            <key>achievement-description</key>
            <string>通过近战攻击杀死100个敌人</string>
        </dict>
        <key>2022</key>
        <dict>
            <key>achievement-name</key>
            <string>新兵部队</string>
            <key>achievement-description</key>
            <string>只使用民兵通过一个关卡</string>
        </dict>
        <key>2023</key>
        <dict>
            <key>achievement-name</key>
            <string>精英部队</string>
            <key>achievement-description</key>
            <string>只使用短剑兵、长枪兵、弓箭手通过一个关卡</string>
        </dict>
        <key>2024</key>
        <dict>
            <key>achievement-name</key>
            <string>骑兵突袭</string>
            <key>achievement-description</key>
            <string>只使用赵云与骑兵通过一个关卡</string>
        </dict>
        <key>2025</key>
        <dict>
            <key>achievement-name</key>
            <string>武装新兵</string>
            <key>achievement-description</key>
            <string>发剑兵为25个民兵提供武器</string>
        </dict>
        <key>2026</key>
        <dict>
            <key>achievement-name</key>
            <string>燃烧的箭矢</string>
            <key>achievement-description</key>
            <string>火炬兵为25个弓箭手点燃箭矢</string>
        </dict>
        <key>2027</key>
        <dict>
            <key>achievement-name</key>
            <string>一夫当关</string>
            <key>achievement-description</key>
            <string>不使用任何士兵通过一个关卡</string>
        </dict>
        <key>2028</key>
        <dict>
            <key>achievement-name</key>
            <string>猛将</string>
            <key>achievement-description</key>
            <string>在不使用技能的情况下击败5个关卡的敌人</string>
        </dict>
        <key>2029</key>
        <dict>
            <key>achievement-name</key>
            <string>毫无威胁</string>
            <key>achievement-description</key>
            <string>连续5个关卡没有敌人攻击甘夫人的护卫</string>
        </dict>
        <key>2030</key>
        <dict>
            <key>achievement-name</key>
            <string>人海战术</string>
            <key>achievement-description</key>
            <string>一个关卡内生产50个士兵</string>
        </dict>
        <key>2031</key>
        <dict>
            <key>achievement-name</key>
            <string>千军万马</string>
            <key>achievement-description</key>
            <string>生产士兵总数超过1000个</string>
        </dict>
    </dict>
</plist>