<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>weight_level</key>
        <string>1.012</string>		
        <key>weight_normal</key>
        <string>6</string>	
        <key>weight_hard</key>
        <string>14</string>
    </dict>
</plist>