<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>1</key>
        <string>In the end of Han Dynasty of China, Demon want to control human being.</string>     
        <key>2</key>
        <string>Demon control the troops of Kingdom of Wei !</string>	
        <key>3</key>
        <string>Hero Badao is assigned to help Kingdom of Shu to fight with Demon.</string>     
        <key>4</key>
        <string>The Battle of two kingdoms happened in Bowang Po.</string>	
    </dict>
</plist>